* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.history-content {
  background-color: brown;
  width: 500px;
}

.main-center {
  max-width: 960 px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
}
