.inHand-flex {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.inHand-item {
    margin-left: 10px;
    width: 60px;
}

.inHand-title{
    margin-left: 20px;
    margin-top: 20px;
}