* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.GameState {
  font-size: 20px;
  color: red;
  margin-left: 15px;
  margin-top: 15px;
}

.back_card {
  width: 120px;
}

.card_first {
  position: absolute;
  top: 450px;
  left: 600px;
}

.card_second {
  position: absolute;
  top: 250px;
  left: 380px;
}

.card_third {
  position: absolute;
  top: 30px;
  left: 600px;
}

.card_fourth {
  position: absolute;
  top: 250px;
  left: 820px;
}

.card_win {
  width: 100px;
  position: absolute; 
  bottom: 50px;
  right: 50px;
}

.card {
  width: 80px;
  margin-right: 10px;
}

.title_player{
  margin-top: -10px;
  color:red;
}